{% extends 'base.html' %}
{% block title %}product details{% endblock %}
{% load static %}
{% block body %}


 

  <!--================Single Product Area =================-->
  <div class="product_image_area section_padding">
    <div class="container">
      <div class="row s_product_inner justify-content-between">
        <div class="col-lg-7 col-xl-7">
          <div class="product_slider_img">
            <div id="vertical">
              <div data-thumb="{{prod.product_image.url}} ">
                <img src="{{prod.product_image.url}} " />
              </div>
              <div data-thumb="{% static 'img/product/single-product/product_1.png' %} ">
                <img src="{% static 'img/product/single-product/product_1.png' %} " />
              </div>
              <div data-thumb="{% static 'img/product/single-product/product_1.png' %} ">
                <img src="{% static 'img/product/single-product/product_1.png' %} " />
              </div>
              <div data-thumb="{% static 'img/product/single-product/product_1.png' %} ">
                <img src="{% static 'img/product/single-product/product_1.png' %} " />
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-xl-4">
          <div class="s_product_text">
            <h3>{{prod.product_name}}</h3>
            <h2>{{prod.product_price}}</h2>
            <ul class="list">
              <li>
                <a class="active" href="#">
                  <span>{{prod.category}}</span> : Household</a>
              </li>
             <!-- <li>
                <a href="#"> <span>Availibility</span> : In Stock</a>
              </li>-->
            </ul>
            <p>
              First replenish living. Creepeth image image. Creeping can't, won't called.
              Two fruitful let days signs sea together all land fly subdue
            </p>
            <div class="card_area d-flex justify-content-between align-items-center">
              <div class="product_count">
                <span class="inumber-decrement"> <i class="ti-minus"></i></span>
                <input class="input-number" type="text" value="1" min="0" max="10">
                <span class="number-increment"> <i class="ti-plus"></i></span>
              </div>
              <a href="#" class="btn_3">add to cart</a>
              <a href="#" class="like_us"> <i class="ti-heart"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
                {% for k in allpro %}
                <div class="product product-7">
                    <figure class="product-media">
                        <a href="">
                            <img src="{{k.product_image.url}}" alt="Product_image" class="product-image"> <!-- image fields -->
                        </a>
                        <div class="product-action-vertical">
                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                        
                        </div><!-- End .product-action -->
                        <div class="product-action-vertical">
                        
                    
                    </figure><!-- End .product-media -->
                    <div class="product-body">
                        <div class="product-cat">
                            <a href="#">{{k.category}}</a>
                        </div><!-- End .product-cat -->
                        <h3 class="product-title"><a href="product.html">{{k.product_name}}</a></h3><!-- End .product-title -->
                        <div class="product-price">
                            ₹ {{k.product_price}}
                        </div><!-- End .product-price -->
                    </div><!-- End .product-body -->
                </div><!-- End .product -->
                {% endfor %}
  <!--================End Single Product Area =================-->
{% endblock %}