{% extends 'base.html' %}
{% block title %}
  product details
{% endblock %}
{% load static %}
{% block body %}
  <!-- ================Single Product Area ================= -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
  <!-- ================End Home Banner Area ================= -->

  <!-- ================Single Product Area ================= -->
  <div class="product_image_area section_padding product_data ">
    <div class="container">
      <div class="row s_product_inner justify-content-between">
        <div class="col-lg-7 col-xl-7">
          <div class="product_slider_img">
            <div class="owl-carousel owl-theme" id="vertical-carousel">
              <div data-thumb="{{prod.product_image1.url}}" class="item" style="height: 350px margin-bottom: 0px;">
                <img src="{{prod.product_image1.url}}">
              </div>
              <div data-thumb="{{prod.product_image2.url}}" class="item" style="height: 350px margin-bottom: 0px;">
                <img src="{{prod.product_image2.url}}">
              </div>
              <div data-thumb="{{prod.product_image1.url}}" class="item"  style="height: 350px margin-bottom: 0px;">
                <img src="{{prod.product_image1.url}}">
              </div>
              <div data-thumb="{{prod.product_image1.url}}" class="item" style="height: 350px margin-bottom: 0px;">
                <img src="{{prod.product_image2.url}}">
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-xl-12 text-center mt-3">
            <div class="carousel-navigation">
                <button class="carousel-prev"><i class="fa fa-chevron-left"></i></button>
                <button class="carousel-next"><i class="fa fa-chevron-right"></i></button>
            </div>
        </div>
        </div>
        <div class="col-lg-5 col-xl-4">
          <div class="s_product_text">
            {% comment %} <h5>previous <span>|</span> next</h5> {% endcomment %}
            <h3>{{ prod.product_name }}</h3>
            <h2>${{ prod.product_price }}</h2>
            <ul class="list">
              <li>
                <a class="active" href="#"><span>Category</span>{{ prod.category }}</a>
              </li>
              <li>
                <span>Brand : Aranoz</span>
              </li>
              <li>
                <a href="#"><span>Availibility</span>{{ prod.product_quantity }}</a>
              </li>
            </ul>
            
            <p>{{ prod.product_description  }}</p>
            
            {% comment %} <p>Furniture plays an essential role in shaping our living spaces, offering both functionality and aesthetic appeal. It encompasses a wide range of objects designed to facilitate human activities and enhance the comfort, organization, and ambiance of homes, offices, and various other settings.

              From ancient civilizations to modern times, furniture has evolved significantly in terms of design, materials, and styles. Initially, furniture was primarily utilitarian, serving basic needs such as seating, sleeping, and storage. Over the centuries, as cultures and technologies advanced, furniture became a means of artistic expression and social status.
              including chairs, tables, beds, sofas, cabinets, and more, each designed to fulfill  {% endcomment %}
             
            <div class="card_area d-flex justify-content-between align-items-center">
              <div class="product_count">
                <span class="inumber-decrement"><i class="ti-minus"></i></span>
                <input class="input-number" type="text" value="1" min="1" max="{{prod.product_quantity}}" />
                <span class="number-increment"><i class="ti-plus"></i></span>
              </div>
              <input type="hidden" value="{{prod.id}}" class="prod_id" >
              <button class="btn_3 addToCartBtn add_cart "data-product_id="{{ prod.id }}" >{% if prod.product_quantity > 0  %}Add to cart {% else %}Out of stok{% endif %}</button>        
               
              <a href="#" type="submit" data-product_id="{{ prod.id }}" class="like_us wishlist-icon"><i class="ti-heart"></i></a>

              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ================End Single Product Area ================= -->

  <!-- ================Product Description Area ================= -->

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.all.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script>
    $('.add_cart').click(function (e) {
      e.preventDefault()
      prod_id
    
      var prod_id = $(this).closest('.product_data').find('.prod_id').val()
      var product_qty = $('.input-number').val()
    
      //var selected_size = $(this).closest('.product_data').find('#size').val(); // Get the selected size value
      console.log(prod_id, 'daxoooooo')
      console.log(product_qty, 'daxoooooo')
    
      $.ajax({
        method: 'POST',
        url: "{% url 'add_cart' %}",
        data: {
          product_qty: product_qty,
          prod_id: prod_id,
          //'size': selected_size, // Include the selected size in the data
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
    
        success: function (response) {
          console.log(response)
    
          if (response.status === 'No such prodcut found' || response.status === 'Only few quantity available' || response.status === 'Product already in cart') {
            Swal.fire('Error!', response.status, 'error')
            $('.cartdata').load(location.href + ' .cartdata')
          } else if (response.status === 'Product added successfully') {
            Swal.fire('', response.status, 'success')
            $('.cartdata').load(location.href + ' .cartdata')
          } else if (response.status === 'you are not login please Login to continue') {
            Swal.fire('', response.status, 'warning')
            $('.cartdata').load(location.href + ' .cartdata')
          } else if (response.status === 'Sorry! this variant not available') {
            Swal.fire('', response.status, 'warning')
            $('.cartdata').load(location.href + ' .cartdata')
          } else {
            Swal.fire('Error!', response.status, 'error')
            $('.cartdata').load(location.href + ' .cartdata')
          }
        }
      })
    })
  </script>
 

  <script>
    $(document).ready(function () {
      var owl = $('#vertical-carousel');
      owl.owlCarousel({
          items: 1,
          loop: true,
          nav: false
      });
  
      $('.carousel-prev').click(function () {
          owl.trigger('prev.owl.carousel');
      });
  
      $('.carousel-next').click(function () {
          owl.trigger('next.owl.carousel');
      });
  });
  
  </script>

  <script>
    $(document).ready(function () {
      $('.wishlist-icon').click(function (e) {
        e.preventDefault()
    
        var product_id = $(this).data('product_id')
        console.log(product_id, 'reeeeeeeeeeeeeeeeee')
    
        $.ajax({
          method: 'POST',
          url: "{% url 'add_wishlist' %}", // Make sure this URL is correctly generated
          data: {
            prod_id: product_id,
            csrfmiddlewaretoken: '{{ csrf_token }}' // Make sure this token is correctly rendered
          },
          success: function (response) {
            console.log(response)
    
            // Assuming the server sends JSON response with a 'status' field
            if (response.status === 'product already in wishlist') {
              Swal.fire('Error!', response.status, 'error') // Using SweetAlert 2
            } else if (response.status === 'product added to wishlist') {
              Swal.fire('', response.status, 'success') // Using SweetAlert 2
            } else if (response.status === 'login and continue') {
              Swal.fire('', response.status, 'warning') // Using SweetAlert 2
            } else if (response.status === 'something went wrong ,reload page') {
              Swal.fire('', response.status, 'warning') // Using SweetAlert 2
            } else {
              Swal.fire('Error!', response.status, 'error') // Using SweetAlert 2
            }
          },
          error: function (xhr, status, error) {
            console.log(xhr.responseText) // Log the detailed error response
            Swal.fire('Error!', 'An error occurred. Please try again later.', 'error') // Using SweetAlert 2
          }
        })
      })
    })
  </script>
{% endblock %}
