{% extends 'base.html' %}
{% block title %}aranoz{% endblock %}
{% load static %}
{% block body %}

<style>
  /* Custom CSS to add distance between the navbar and cards */
  .custom-card-container {
    margin-top: 50px;
  }
</style>

<section style="background-color: white;">
  <div class="container py-5 custom-card-container">
    <div class="row">
      {% for product in products %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card">
          <img src="{{product.product_image.url}}" class="card-img-top" alt="Laptop" />
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h5>{{product.product_name}}</h5>
              <h6> ${{product.product_price}}</h6>
              <a href="{% url 'product_details' product.id %}" class="add_cart">seemore</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


{% endblock %}