{% extends 'base.html' %}
{% block title %}aranoz{% endblock %}
{% load static %}
{% block body %}


<section class="checkout_area padding_top">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <div class="returning_customer">
                  <button type="button" class="btn_3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      New Address
                  </button>
      
      <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">Billing Details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <form action="{% url 'addcheckoutaddr' %}" method="POST">
                              {% csrf_token %}
                              <div class="row">
                                <div class="col-lg-6">
                                  <div class="checkout__input">
                                    <p>First Name<span>*</span></p>
                                    <input type="text" name="firstname" style="border-radius: 20px;">
                                  </div>
                                </div>
                                <div class="col-lg-6">
                                  <div class="checkout__input">
                                    <p>Last Name<span>*</span></p>
                                    <input type="text" name="lastname" style="border-radius: 20px;">
                                  </div>
                                </div>
                              </div>
                              <div class="checkout__input">
                                <p>Country<span>*</span></p>
                                <input type="text" name="country" style="border-radius: 20px;">
                              </div>
                              <div class="checkout__input">
                                <p>Address<span>*</span></p>
                                <input type="text" class="checkout__input__add" name="address" style="border-radius: 20px;">
                              </div>
                              <div class="checkout__input">
                                <p>Town/City<span>*</span></p>
                                <input type="text" name="city" style="border-radius: 20px;">
                              </div>
                              <div class="checkout__input">
                                <p>State<span>*</span></p>
                                <input type="text" name="state" style="border-radius: 20px;">
                              </div>
                              <div class="checkout__input">
                                <p>Postcode / ZIP<span>*</span></p>
                                <input type="text" name="pincode" style="border-radius: 20px;">
                              </div>
                              <div class="row">
                                <div class="col-lg-6">
                                  <div class="checkout__input">
                                    <p>Phone<span>*</span></p>
                                    <input type="text" name="phone" style="border-radius: 20px;">
                                  </div>
                                </div>
                                <div class="col-lg-6">
                                  <div class="checkout__input">
                                    <p>Email<span>*</span></p>
                                    <input type="text" name="email" style="border-radius: 20px;">
                                  </div>
                                </div>
                              </div>
                              <div class="checkout__input">
                                <p>Order notes<span>*</span></p>
                                <input type="text" placeholder="Notes about your order, e.g. special notes for delivery." name="ordernote" style="border-radius: 20px;">
                              </div>
                          </div>
                          <div class="modal-footer d-flex justify-content-center">
                            <button type="submit" class="btn btn-danger" style="border-radius: 20px;">Create New Account</button>
                        
                            </form>
                            </div>
                          </div>
                        </div>
                      </div>

                      <form method="POST" action="{% url 'placeorder' %}" id="orderForm">
                      {% csrf_token %}
                        <div class="mb-4">
                            <h4 class="font-weight-semi-bold mb-4">Select Address</h4>
                      
                              {% for a in address %}
                              <div class="card mb-3">
                              
                                <div class="custom-control custom-radio h-100 m-2 d-flex align-items-center">
                                  <input type="radio" class="custom-control-input " id="{{a.id}}" name="address" value="{{a.id}}" {% if index == 0 %}checked{% endif %} checked>
                                  <label class="custom-control-label" for="{{a.id}}">{{a.first_name}} {{a.last_name}}</label>
                              </div>
                              
                                    
                                <div class="card-body">
                                  <h5 class="card-title">Mob : {{a.phone}}</h5>
                                  <h5 class="card-title">{{a.address}}, {{a.pincode}}</h5>
                                  <p class="card-text">{{a.city}}-{{a.state}}-{{a.country}}</p>
                                <div>
  
                                <!-- Button trigger vie address -->
                                  <button type="button" class="btn_3" data-bs-toggle="modal" data-bs-target="#viewaddress{{forloop.counter}}">
                                    View
                                  </button>
                                
                                  <!-- Modal -->
                                  <div class="modal fade" id="viewaddress{{forloop.counter}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h4 class="modal-title fs-6" id="staticBackdropLabel">View address</h4>
                                          <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
                                            <i class="fa fa-times"></i>
                                          </button>
                                        </div>
                                        <div class="modal-body">
  
                                          <div class="row">
                                            <div class="col-sm-5">
                                              <p class="mb-0">Name</p>
                                            </div>
                                            <div class="col-sm-7">
                                                <input type="hidden" value="{{ a.first_name}} {{ a.last_name}} " name="first_name">
                                                {{ a.first_name}} {{ a.last_name}} 
                                            </div>
                                          </div>
                                          <hr>

                                          <div class="row">
                                              <div class="col-sm-5">
                                                <p class="mb-0">Phone</p>
                                              </div>
                                              <div class="col-sm-7">
                                                  {{ a.phone}}
                                                  <input type="hidden" value="{{ a.phone}}" name="phone">
                                              </div>
                                            </div>
                                            <hr>

                                            <div class="row">
                                              <div class="col-sm-5">
                                                <p class="mb-0">Email</p>
                                              </div>
                                              <div class="col-sm-7">
                                                  {{ a.email}}
                                                  <input type="hidden" value="{{ a.email}}" name="email">

                                              </div>
                                            </div>
                                            <hr>

                                          <div class="row">
                                              <div class="col-sm-5">
                                                <p class="mb-0">Address</p>
                                              </div>
                                              <div class="col-sm-7">
                                                  {{ a.address}}
                                              </div>
                                            </div>
                                            <hr>

                                            <div class="row">
                                              <div class="col-sm-5">
                                                <p class="mb-0">Town/City</p>
                                              </div>
                                              <div class="col-sm-7">
                                                  {{ a.city}}
                                              </div>
                                            </div>
                                            <hr>

                                            <div class="row">
                                              <div class="col-sm-5">
                                                <p class="mb-0">Postcode / ZIPy</p>
                                              </div>
                                              <div class="col-sm-7">
                                                  {{ a.pincode}}
                                              </div>
                                            </div>
                                            <hr>

                                            <div class="row">
                                              <div class="col-sm-5">
                                                <p class="mb-0">State</p>
                                              </div>
                                              <div class="col-sm-7">
                                                  {{ a.state}}
                                              </div>
                                            </div>
                                            <hr>

                                            <div class="row">
                                              <div class="col-sm-5">
                                                <p class="mb-0">Country</p>
                                              </div>
                                              <div class="col-sm-7">
                                                  {{ a.country}}
                                              </div>
                                            </div>
                                            <hr>

                                        </div>
                                        <div class="modal-footer">
                                          <a  class="btn btn-primary text-white" data-bs-toggle="modal" data-bs-target="#deletaddress{{forloop.counter}}">
                                            delete
                                          </a>
                              
                                            <!--Delete Modal -->
                                            <div class="modal fade" id="deletaddress{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                              <div class="modal-dialog">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h5 class="" id="exampleModalLabel">Delete</h5>
                                                    <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close"> <i class="fa fa-times" ></i></button>
                                                  </div>
                                                  <div class="modal-body">
                                                    <p>Are you sure to delete Address <span class="text-primary">" {{a.first_name}} {{a.last_name}} ..."</span></p>
                                                    
                                                      <div class="d-flex justify-content-center">
                                                        <a type="button" href="{% url 'deleteaddresscheckout' a.id %}"
                                                          class="btn btn-danger btn-lg gradient-custom-4 w-50 text-light">Confirm</a>
                                                      </div>
                                  
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                
                              </div>
                              
                          </div>
                        
                          </div>
                                {% endfor %}
                            <div class="card-body">
                              {% if not address %}<h5 class="card-title">No address saved</h5>{% endif %} 
                              <p class="card-text"> </p>
                              <div>
                              </div>
                            </div>
                        </div>
                        </div>
                    </div>
                  <div class="col-lg-6">
                    <div class="order_box text-left">
                      <h2>Your Order</h2>
                      <ul class="list">
                          <div class="checkout__order__products">Product <span>Total</span></div>
                          <ul class="checkout__total__products">
                              {% for item in cartitems %}
                            <li><img src="{{item.variation.image.url}}" height="40px" alt="">  {{item.product.product_name}}<span>{% if item.product.offer %}<del style="color: red;">₹ {{item.product.product_price}}</del> ₹{{item.product.get_offer}}{% else %} ₹ {{item.product.product_price}} {% endif %}</span>
                              </span></li>
                              {% endfor %}
                              <li>
                                Subtotal <span>₹{{total_price}}</span>
                              </li>
                            
                          
                              <li>
                                Total <span id="grand_total">₹{{grand_total}}</span>
                              </li>
                            
                          </ul>
                          
                          <div class="payment_item">
                            <div class="radion_btn">
                              <input type="radio" id="f-option5" name="placeorder" />
                              <label for="f-option5">COD</label>
                              <div class="check"></div>
                            </div>
                            <p>
                              Please send a check to Store Name, Store Street, Store Town,
                              Store State / County, Store Postcode.
                            </p>
                          </div>
                          <div class="payment_item active">
                            <div class="radion_btn">
                              <input type="radio" id="f-option6" name="selector" />
                              <label for="f-option6">Paypal </label>
                              <img src="img/product/single-product/card.jpg" alt="" />
                              <div class="check"></div>
                            </div>
                            <p>
                              Please send a check to Store Name, Store Street, Store Town,
                              Store State / County, Store Postcode.
                            </p>
                          </div>
                          <div class="creat_account">
                            <input type="checkbox" id="f-option4" name="selector" />
                            <label for="f-option4">I’ve read and accept the </label>
                            <a href="#">terms & conditions*</a>
                          </div>
                          <a class="btn_3" href="#">Proceed to Paypal</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      <div>       
</section>
{% endblock %}